@charset "utf-8";

.wpz-footer-banner__box {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;
}

.wpz-footer-banner__box li {
	width: 50%;
}

@media (min-width: 40em) {
	.wpz-footer-banner__box li {
		width: 33.3333%;
	}
}

@media (min-width: 64em) {
	.wpz-footer-banner__box li {
		width: 20%;
	}
}
