@charset "utf-8";

.wpz-footer-banner .smb-section__title span {
	font-size: .725em;
}

.wpz-footer-banner .block-min-40em {
	display: block;
}

.wpz-footer-banner__box {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 2em -10px;
}

.wpz-footer-banner__box li {
	width: calc(50% - 40px);
	display: flex;
	margin: 15px 20px;
}

.wpz-footer-banner__box li a {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: .3s ease-in-out;
}

.wpz-footer-banner__box li a:hover {
	border: 1px solid#53a537;
}

.wpz-footer-banner__box li a picture,
.wpz-footer-banner__box li a h3 {
	display: block;
	width: 100%;
}

.wpz-footer-banner__box li a h3 {
	font-size: 10px;
	color: #333;
	font-weight: 400;
	text-align: center;
	transition: .3s ease-in-out;
	padding-top: .5em;
}

.wpz-footer-banner__box li a:hover h3 {
	color: #53a537;
}

@media (min-width: 40em) {
	.wpz-footer-banner .block-min-40em {
		display: none;
	}
	.wpz-footer-banner__box{
		margin: 2em -10px;
	}
	.wpz-footer-banner__box li {
		width: calc(33.3333% - 40px);
		margin: 25px 20px;
	}
	.wpz-footer-banner__box li a h3 {
		font-size: 12px;
	}
}

@media (min-width: 64em) {
	.wpz-footer-banner__box li {
		width: calc(20% - 40px);
	}
	.wpz-footer-banner__box li a h3 {
		font-size: 14px;
	}
}
